<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>185402663689-39bvb86h7skrpn5k0qajjl4hbhn1thfe.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.185402663689-39bvb86h7skrpn5k0qajjl4hbhn1thfe</string>
	<key>API_KEY</key>
	<string>AIzaSyBWBZCLLU8zXELX2_M2p73kMlU0Qvy0qZY</string>
	<key>GCM_SENDER_ID</key>
	<string>185402663689</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.skvietnam.app</string>
	<key>PROJECT_ID</key>
	<string>sk-vietnam</string>
	<key>STORAGE_BUCKET</key>
	<string>sk-vietnam.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:185402663689:ios:8f7bdba9832e9fe271e9d8</string>
	<key>DATABASE_URL</key>
	<string>https://sk-vietnam-default-rtdb.asia-southeast1.firebasedatabase.app</string>
</dict>
</plist>